#* @vtlvariable name="title" type="java.lang.String" *#
#* @vtlvariable name="url" type="java.lang.String" *#
#* @vtlvariable name="tooltip" type="java.lang.String" *#
#* @vtlvariable name="iconTooltip" type="java.lang.String" *#

#enable_html_escaping()

<p>
    <span class="bamboo-icon bamboo-icon-loading" title="${iconTooltip}"><span>${iconTooltip}</span></span>
    <span title="${textutils.htmlEncode($tooltip)}">
        <a href="${url}" class="link-title">${textutils.htmlEncode($summary)}</a>
    </span>
</p>
